In [0]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import urllib.request

In [0]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page_file = urllib.request.Request(url)
request = urllib.request.Request(url)
response = urllib.request.urlopen(request)
page = response.read().decode('utf-8')

soup = BeautifulSoup(page, 'lxml')

In [0]:
table = soup.find_all('table')[0] # Grab the first table
table_rows = table.find_all('tr')

In [0]:
cols = ['Postcode','Borough','Neighbourhood']
lst = []

for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    lst.append(row)

In [7]:
df = pd.DataFrame(lst, columns=cols)

df = df.replace('Not assigned', np.nan)
df = df.dropna()
df[(df.Neighbourhood == 'Not assigned\n')]

df.iloc[6]['Neighbourhood'] = "Queen's Park"
df = df.reset_index(drop=True)
df.head()

  Postcode           Borough       Neighbourhood
0      M3A        North York         Parkwoods\n
1      M4A        North York  Victoria Village\n
2      M5A  Downtown Toronto      Harbourfront\n
3      M5A  Downtown Toronto       Regent Park\n
4      M6A        North York  Lawrence Heights\n

In [6]:
df.shape

(211, 3)